.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th= Comment.human_attribute_name(:user_id)
        %th= Comment.human_attribute_name(:content)
        %th= Comment.human_attribute_name(:created_at)
        %th
    %tbody
      - collection.each do |resource|
        %tr
          %td= resource.user.try(:name)
          %td= resource.content
          %td= resource.created_at.strftime('%b %d, %Y')
          %td
            = link_to edit_admin_comment_path(resource) do
              %i.fa.fa-edit
            = link_to admin_comment_path(resource), method: :DELETE do
              %i.fa.fa-remove
