= render partial: 'admin/shared/list_header', locals: { new_resource_path: nil, kclass: Comment }

.table-responsive
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th= Comment.human_attribute_name(:id)
        %th= Comment.human_attribute_name(:title)
        %th= Comment.human_attribute_name(:content)
        %th= Comment.human_attribute_name(:name)
        %th= Comment.human_attribute_name(:created_at)
        %th
    %tbody
      - collection.each do |resource|
        %tr
          %td= resource.id
          %td= truncate(resource.commentable.title, length: 20)
          %td= truncate(resource.content, length: 20)
          %td= resource.name
          %td= resource.created_at.strftime('%b %d, %Y')
          %td
            = link_to resource_path(resource) do
              %i.fa.fa-eye
              = I18n.t('action.show')
            = link_to admin_comment_path(resource), method: :DELETE do
              %i.fa.fa-remove
              = I18n.t('action.destory')

%nav{:'aria-label' => 'Page navigation'}
  = paginate collection, views_prefix: 'admin'
