= simple_form_for resource, url: url, html: { class: 'vertical_form', validate: true } do |f|
  = f.error_notification
  = f.input :title, required: true
  = f.input :permalink, required: true
  - if admin?
    = f.input :user_id, collection: User.active_users, prompt: true, required: true
  - else
    = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
  = f.input :category_id, collection: atricle_categories, prompt: true, required: true
  = f.input :published_at
  = f.input :is_published, as: :radio_buttons
  = f.input :reprinted_source
  = f.input :reprinted_link

  - unless resource.new_record?
    = f.input :tags, input_html: { value: resource.tags.map(&:name).join(', ') }

  .form-group.string.content
    %label.control-label.string.optional= f.label :content
    .form-control
      = f.kindeditor :content, allowFileManager: false, height: 300

  .form-group.string
    %label.control-label
    = f.submit class: 'btn btn-primary'
