.right
  %nav.navbar
    = link_to I18n.t('action.new'), new_admin_article_path, class: 'btn btn-primary'

.table-responsive
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th= Article.human_attribute_name(:title)
        %th= Article.human_attribute_name(:category_id)
        %th= Article.human_attribute_name(:user_id)
        %th= Article.human_attribute_name(:is_published)
        %th= Article.human_attribute_name(:published_at)
        %th
    %tbody
      - collection.each do |resource|
        %tr
          %td= truncate(resource.title, length: 20)
          %td= resource.category.try("name_#{params[:locale] || I18n.default_locale}".to_sym)
          %td= resource.try(:author_name)
          %td= resource.is_published
          %td= resource.published_date
          %td
            = link_to resource_path(resource) do
              %i.fa.fa-eye
              = I18n.t('action.show')
            = link_to edit_admin_article_path(resource) do
              %i.fa.fa-edit
              = I18n.t('action.edit')
            = link_to admin_article_path(resource), method: :DELETE do
              %i.fa.fa-trash
              = I18n.t('action.destory')

%nav{:'aria-label' => 'Page navigation'}
  = paginate collection, views_prefix: 'admin'
