= link_to I18n.t('action.new'), new_admin_article_path
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th= Article.human_attribute_name(:title)
        %th= Article.human_attribute_name(:category_id)
        %th= Article.human_attribute_name(:user_id)
        %th= Article.human_attribute_name(:is_published)
        %th= Article.human_attribute_name(:published_at)
        %th= Article.human_attribute_name(:last_reviewed_at)
        %th
    %tbody
      - collection.each do |resource|
        %tr
          %td= resource.title
          %td= resource.category.try("name_#{params[:locale] || I18n.default_locale}".to_sym)
          %td= resource.user.try(:author_name)
          %td= resource.is_published
          %td= resource.published_date
          %td= resource.last_reviewed_date
          %td
            = link_to I18n.t('action.show'), resource_path(resource)
            = link_to I18n.t('action.edit'), edit_admin_article_path(resource)
            = link_to I18n.t('action.destory'), admin_article_path(resource), method: :DELETE



