%h2
  = I18n.t('action.show')
  = resource.model_name.human

= link_to I18n.t('action.back'), admin_articles_path
= link_to I18n.t('action.edit'), edit_admin_article_path(resource)

.jumbotron
  %h2= resource.title
  .author
    %strong Author:
    = resource.author_name
    %strong Category:
    = resource.category_name(I18n.default_locale)
  %br
  %div.lead= raw resource.content
  %br
  %div
    %strong Tags:
    = resource.tag_names
