.post-wrapper
  %article#post-481.basic-post.post-picture.post.type-post.status-publish.format-image.has-post-thumbnail.hentry.category-fashion.tag-fashion-show.tag-photography.post_format-post-format-image
    .thumbnail
      %img.attachment-blog-image.size-blog-image.wp-post-image{src: banner_iamge_url}/
    .post-inner
      .post-title
        %h1
          = @article.title
      .meta
        %span
          %i.fa.fa-calendar
          = @article.published_date
        %span
          %i.fa.fa-flag
          = @article.category_name(I18n.default_locale)
        %span.btn-action{data: {name: 'up'}}
          %i.fa.fa-thumbs-up
          = I18n.t('action.like')
          = raw "(<count>#{@article.likes_count}</count>)"
        %span.btn-action{data: {name: 'down'}}
          %i.fa.fa-thumbs-down
          = I18n.t('action.dislike')
          = raw "(<count>#{@article.dislike_count}</count>)"
      .post-content
        = raw @article.content

      - unless @article.tags.empty?
        %footer.content-footer
          .tags
            %i.fa.fa-tags
            %label #{I18n.t('tips.tags')}:
            - @article.tags.each do |tag|
              = tag.name

        .share-buttons
          .addthis_toolbox.addthis_default_style
            %h4= I18n.t('tips.share_this_article')
            %a.addthis_button_facebook
              %span.fa.fa-facebook
            %a.addthis_button_twitter
              %span.fa.fa-twitter
            %a.addthis_button_weibo
              %span.fa.fa-weibo
            %a.addthis_button_weixin
              %span.fa.fa-weixin
            %a.addthis_button_tencent_weibo
              %span.fa.fa-tencent-weibo
            %a.addthis_button_wechat
              %span.fa.fa-wechat
            %a.addthis_button_telegram
              %span.fa.fa-telegram
            %a.addthis_button_qq
              %span.fa.fa-qq

        #post-nav
          .post-previous
            %span.title= I18n.t('tips.previous_post')
            %h3
              %i.fa.fa-angle-double-left
              = 'Even the Celebrities Wanted to Dress Weather...'
        #related-posts
          .inner
            %h3.widget-title= I18n.t('tips.related_posts')
            %ul
              - 3.times do |i|
                %li
                  .thumbnail
                    %a
                      %img.attachment-small-thumb.size-small-thumb.wp-post-image{src: "/assets/photos/encore.jpg"}/
                  %a Summer 2014 Style Inspirations Just for You
                  .meta Aug 12th, 2014

  / Author
  .single-author.box.clearfix
    .wrapper.clearfix
      .thumbnail
        %img.avatar.avatar-80.photo{src: "/assets/photos/encore.jpg"}/
      .info.clearfix{style: 'width: 100%;margin-bottom: 20px;'}
        = I18n.t('tips.note2')

      = render partial: 'shared/social_links', locals: { class_name: 'social-profiles' }

    .clearfix

  - if @article.comments.count > 0
    #comment-widget.comments.box
      %h3.widget-title There's #{@article.comments.count} Comments
      .comments-list
        %ul
          - @article.comments.parent_comments.each do |comment|
            %li.comment.depth-0{id: "comment-#{comment.id}"}
              .thumbnail
                %div.media.avatar-48
                  %h1= comment.user_name.first.upcase
              .comment-detail
                .author
                  = comment.user_name
                  %span -
                  %time= comment.created_at.strftime('%B %d, %Y')
                %p= comment.content
                .reply
                  %a.comment-reply-link.fa.fa-commenting{onclick: "return addComment.moveForm( \"comment-#{comment.id}\", \"#{comment.comment_parent + 1}\", \"respond\", \"#{comment.id}\" )", rel: "nofollow"}= I18n.t('action.reply')

            - comments = comment.comments
            - while !(comments).empty?
              - comments.each do |depth_comment|
                %li.comment.depth-more{id: "comment-#{depth_comment.id}"}
                  .thumbnail
                    %div.media.avatar-48
                      %h1= depth_comment.user_name.first.upcase
                  .comment-detail
                    .author
                      = depth_comment.user_name
                      %span -
                      %time= depth_comment.created_at.strftime('%B %d, %Y')
                    %p
                      = raw "@#{comment.user_name}: "
                      = depth_comment.content
                    .reply
                      %a.comment-reply-link.fa.fa-commenting{onclick: "return addComment.moveForm( \"comment-#{depth_comment.id}\", \"#{depth_comment.comment_parent + 1}\", \"respond\", \"#{depth_comment.id}\" )", rel: "nofollow"}= I18n.t('action.reply')

                - comments = depth_comment.comments

  / Comment
  #comment-form-widget.comments.box
    #respond.comment-respond
      %h3#reply-title.comment-reply-title
        %h3.widget-title
          %i.fa.fa-comments
          = I18n.t('tips.leave_a_comment')
        %small
          %a#cancel-comment-reply-link.fa.fa-retweet{rel: "nofollow", style: "display:none;"}= I18n.t('action.cancel_reply')

      = form_tag comment_articles_path, method: :POST, class: 'comment-form', id: 'commentForm' do
        .comment-form-wrapper
          .clearfix
            %label= I18n.t('form.tips')
          .input.message
            %label
              = I18n.t('form.message')
              %span.red *
            %textarea#message{name: "comment[content]", required: true}
          .input.name
            %label
              = I18n.t('form.name')
              %span.red *
            %input#input-name.input-s{name: "comment[name]", type: "text", required: true}/
          .input.email
            %label
              = I18n.t('form.email')
              %span.red *
            %input#input-email.input-s{name: "comment[email]", type: "text", required: true}/
          .input.email
            %label= I18n.t('form.url')
            %input#input-url.input-s{name: "comment[link]", type: "text"}/
          %p.form-submit
            = submit_tag I18n.t('form.submit'), class: 'btn btn-primary bg-green', id: 'submit'
            %input#comment_id{name: "comment_id", type: "hidden"}/
            %input#comment_parent{name: "comment[comment_parent]", type: "hidden", value: "0"}/

        %p{style: "display: none;"}
          %input{name: "permalink", type: "hidden", value: @article.permalink}/
          %input{name: "year", type: "hidden", value: @article.published_at.year}/
          %input{name: "month", type: "hidden", value: @article.published_at.month}/
          %input{name: "day", type: "hidden", value: @article.published_at.day}/

.clearfix
