.footer-menu
  %ul
    %li
      = link_to I18n.t('links.blog'), root_path, target: "_blank"
    %li
      = link_to I18n.t('links.github'), 'https://github.com/encoreshao', target: "_blank"
    %li
      = link_to I18n.t('links.twitter'), 'https://twitter.com/encoreshao', target: "_blank"
    %li
      = link_to I18n.t('links.linkedin'), 'https://cn.linkedin.com/in/1encoreshao', target: "_blank"
    %li
      = link_to I18n.t('links.google'), 'https://plus.google.com/+EncoreShao', target: "_blank"
    %li
      = link_to I18n.t('links.facebook'), 'https://www.facebook.com/encore.shao', target: "_blank"
    %li
      = link_to I18n.t('links.contact'), 'mailto:encore.shao@gmail.com', target: "_blank"
