.footer-menu
  %ul
    %li
      = link_to 'Blog', root_path
    %li
      = link_to "Github", 'https://github.com/encoreshao'
    %li
      = link_to 'Twitter', 'https://twitter.com/encoreshao'
    %li
      = link_to 'LinkedIn', 'https://cn.linkedin.com/in/1encoreshao'
    %li
      = link_to 'Google', 'https://plus.google.com/+EncoreShao'
    %li
      = link_to 'Facebook', 'https://www.facebook.com/encore.shao'
    %li
      = link_to 'Contact', 'mailto:encore.shao@gmail.com', target: "_blank"
