= navbar_menu_item(root_path, 'dashboards_index', 'home')
= navbar_menu_item(sites_path, 'sites_index', 'sitemap')
= navbar_menu_item(pages_fullpanels_path, 'pages_index', 'pages')
= custom_menu_item('https://github.com/encoreshao', 'Github')
= navbar_menu_item(author_sites_path, 'sites_author', 'author')
= navbar_menu_item(timeline_articles_path, ['articles_timeline', 'articles_show'], 'timeline')
= navbar_menu_item(comments_path, 'comments_index', 'comments')
