%header#main-header
  #logo.wow.fadeIn.center.animated
    = link_to root_path do
      = I18n.t('title')

.sidebar-widgets
  #widget-warrior_about-2.widget.about
    %h3.widget-title
      %label
        %i.fa.fa-user
        = I18n.t('tips.about_the_author')
    .thumbnail
      %img.avatar{alt: I18n.t('author'), src: '/assets/photos/encore.jpg'}/
    %p
    %p{style: "text-indent: 1em;"}= I18n.t('tips.notes')
    .social
      = render partial: 'shared/social_links', locals: { class_name: '' }

  #widget-search-3.widget.widget_search
    .search-box
      %form#search-form{action: root_path, method: "get"}
        %input#search-field{name: "q", type: "text", value: ""}/
        %a.submit{href: "javascript:void(0);", onclick: "jQuery('#search-form').submit();"}
          %i.fa.fa-search

  #widget-nav_menu-2.widget
    %h3.widget-title
      %label
        %i.fa.fa-bars
        = I18n.t('navigation.title')
    .menu-main-menu-container
      %ul#menu-main-menu.menu
        - widget_categories.each do |category|
          %li
            = link_to categories_path(category: category[1]) do
              %i.fa.fa-dot-circle-o
              = category[0]

  - if Comment.count > 0
    #widget-warrior_recent_posts-2.widget.warrior_recent_posts
      %h3.widget-title
        %label= I18n.t('tips.recent_posts')
      .blocks.recent-post-widget
        %ul
          - Comment.all do |comment|
            %li.post-481
              .thumbnail
                %img.attachment-thumbnail.size-thumbnail.wp-post-image{src: "/assets/photos/encore.jpg"}/
              .detail
                %a
                  = comment.commentable.title
                .meta
                  = comment.created_at.strftime('%B %d, %Y')

  #widget-tag_cloud-2.widget.widget_tag_cloud
    %h3.widget-title
      %label
        %i.fa.fa-tags
        = I18n.t('tips.tags')
    .tagcloud
      - full_atricle_tags.each do |tag|
        = link_to tag[0], tags_path(tag: tag[1])

  %footer#footer
    %p
      - time_range = '2017'
      - time_range += " - #{Time.now.year}" if Time.now.year > 2017
      Copyright #{time_range}
      #{I18n.t('title')}
    %br
