%h2.text-center
  = I18n.t('action.edit')
  = Tag.model_name.human

.right
  = link_to I18n.t('action.back'), admin_tags_path
  |
  = link_to I18n.t('action.new'), new_admin_tag_path

%div
  = render partial: 'form', locals: { resource: @tag, url: admin_tag_path(@tag) }
