.table-responsive
  = simple_form_for resource, url: url, html: { class: 'horizontal_form', validate: true } do |f|
    = f.error_notification
    = f.input :name, required: true
    = f.input :url, required: true
    = f.input :email
    = f.input :site_group_id, collection: site_groups, include_blank: false
    = f.input :enabled, collection: switch_options, include_blank: false

    = f.submit class: 'btn btn-primary'
