.table-responsive
  = simple_form_for resource, url: url, html: { class: 'horizontal_form', validate: true } do |f|
    = f.error_notification
    = f.input :name, required: true
    = f.input :url, required: true
    .form-group.required.site_group
      = f.label :site_group, class: 'control-label'
      = f.select :site_group_id, options_for_select(site_groups)

    .form-group.string
      %label.control-label
      = f.submit class: 'btn btn-primary'
