= render partial: 'admin/shared/list_header', locals: { new_resource_path: new_admin_site_link_path, kclass: SiteLink }

.table-responsive
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th= SiteLink.human_attribute_name(:name)
        %th= SiteLink.human_attribute_name(:url)
        %th= SiteLink.human_attribute_name(:enabled)
        %th= SiteLink.human_attribute_name(:created_at)
        %th
    %tbody
      - collection.each do |resource|
        %tr
          %td= resource.name
          %td= resource.url
          %td= resource.enabled_text
          %td= resource.created_at.strftime('%b %d, %Y')
          %td
            = link_to edit_admin_site_link_path(resource) do
              %i.fa.fa-edit
              = I18n.t('action.edit')
            = link_to admin_site_link_path(resource), method: :DELETE do
              %i.fa.fa-remove
              = I18n.t('action.destory')

%nav{:'aria-label' => 'Page navigation'}
  = paginate collection, views_prefix: 'admin'
