#pagepiling
  #section1.section
    %h1
      %author= I18n.t('author')
    %div
      %strong= I18n.t('job_title')
      = '-'
      %span= I18n.t('location')
    %br
    %div
      = I18n.t('tips.note2')

  #section2.section
    .intro
      %h1 Ruby, Rails, React, Nginx
      %p 我们使用Ruby on Rails帮助您构建出色的Web应用

  #section3.section
    .intro
      %h1 PostgreSQL, MongoDB, InfluxDB, Redis
      %p 使用的存贮服务

  #section4.section
    .intro
      %h1 AWS, Aliyun, Vultr, Digitalocean
      %p 构建基于云服务的应用程序

- content_for :javascript do
  :javascript
    (function($){
      $('#pagepiling').pagepiling({
        sectionsColor: ['rgba(10, 164, 211, 1)', '#2ebe21', '#efc32f', '#51bec4'],
        scrollingSpeed: 500,
        navigation: {
          'position': 'right',
          'tooltips': ['Personal', 'Language', 'Database', 'Service']
        }
      });
    })(jQuery)
