.post-wrapper
  - @articles.each do |article|
    %article#post-481.basic-post.post-picture.post-481.post.type-post.status-publish.format-image.has-post-thumbnail.hentry.category-fashion.tag-fashion-show.tag-photography.post_format-post-format-image
      .thumbnail
        %img.attachment-blog-image.size-blog-image.wp-post-image{src: banner_iamge_url}/
      .post-inner
        .post-title
          %h3
            = link_to article.title, article_path(article.params), target: '_blank'
        .meta
          %span
            %i.fa.fa-user-o
            = article.author_name
          %span
            %i.fa.fa-calendar
            = article.published_date
          %span
            %i.fa.fa-flag
            = article.category_name(I18n.default_locale)
          %span
            %i.fa.fa-meh-o
            = I18n.t('tips.viewed_count')
            = raw "(#{article.view_count})"
          %span
            %i.fa.fa-thumbs-up
            = I18n.t('action.like')
            = raw "(#{article.likes_count})"
        .post-content
          %p
            = raw truncate(strip_tags(article.content), length: 400)

        - unless article.tags.empty?
          .tags
            %i.fa.fa-tags
            #{I18n.t('tips.tags')}:
            - article.tags.each do |tag|
              = tag.name

        .read-more
          %a{href: article_path(article.params)}= I18n.t('action.read_more')

  .page-navigation
    = paginate @articles
