.post-wrapper
  - @articles.each do |article|
    %article#post-481.basic-post.post-picture.post-481.post.type-post.status-publish.format-image.has-post-thumbnail.hentry.category-fashion.tag-fashion-show.tag-photography.post_format-post-format-image
      .thumbnail
        %img.attachment-blog-image.size-blog-image.wp-post-image{src: banner_iamge_url}/
      .post-inner
        .post-title
          %h3
            = link_to article.title, article_path(article.params), target: '_blank'
        .meta
          %span
            %i.typcn.typcn-user
            = article.user && article.user.author_name
          %span
            %i.typcn.typcn-calendar
            = article.published_date
          %span.category
            %i.typcn.typcn-bookmark
            = article.category_name(I18n.default_locale)
          %span
            %i.typcn.typcn-time
            = article.last_reviewed_date
        .post-content
          %p
            = raw truncate(article.content, length: 400)
        .read-more
          %a{href: article_path(article.params)}= I18n.t('action.read_more')

  .page-navigation
    %a.next{href: "http://demo2.themewarrior.com/grateful/page/2/"}
      %i.typcn.typcn-arrow-left>
      = I18n.t('action.newer_posts')
