%section.row.text-center.placeholders
  .col-6.col-sm-3.placeholder
    %img.img-fluid.rounded-circle{height: '80', src: "data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=", width: '80'}/
    %h4= User.model_name.human
    .text-muted= User.count
  .col-6.col-sm-3.placeholder
    %img.img-fluid.rounded-circle{height: '80', src: "data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=", width: '80'}/
    %h4= Article.model_name.human
    %span.text-muted= Article.count
  .col-6.col-sm-3.placeholder
    %img.img-fluid.rounded-circle{height: '80', src: "data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=", width: '80'}/
    %h4= Category.model_name.human
    %span.text-muted= Category.count
  .col-6.col-sm-3.placeholder
    %img.img-fluid.rounded-circle{height: '80', src: "data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=", width: '80'}/
    %h4= Tag.model_name.human
    %span.text-muted= Tag.count
