.right
  %nav.navbar
    = link_to I18n.t('action.new'), new_admin_user_path, class: 'btn btn-primary'

.table-responsive
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th= User.human_attribute_name(:email)
        %th= User.human_attribute_name(:name)
        %th= User.human_attribute_name(:is_admin)
        %th= User.human_attribute_name(:title)
        %th= User.human_attribute_name(:created_at)
        %th
    %tbody
      - collection.each do |resource|
        %tr
          %td= resource.email
          %td= resource.name
          %td= resource.admin? ? 'Yes' : 'No'
          %td= resource.title
          %td= resource.created_at.strftime('%b %d, %Y')
          %td
            - if current_user.admin?
              = link_to admin_user_path(resource) do
                %i.fa.fa-eye
                = I18n.t('action.show')
              = link_to edit_admin_user_path(resource) do
                %i.fa.fa-edit
                = I18n.t('action.edit')
              = link_to admin_user_path(resource), method: :DELETE do
                %i.fa.fa-remove
                = I18n.t('action.destory')

%nav{:'aria-label' => 'Page navigation'}
  = paginate collection, views_prefix: 'admin'
