.jumbotron
  .text-center
    %h3= I18n.t('tips.pages')

  .boxes
    - flash.each do |type, value|
      .alert.alert-info
        %strong= value

  %h6= I18n.t('tips.site_notes')
  %hr

  .table-responsive
    = simple_form_for @site, url: feedback_sites_path, html: { class: 'inline_form', validate: true } do |f|
      = f.error_notification
      = f.input :name
      = f.input :url
      = f.input :email

      = f.submit I18n.t('action.submit'), class: 'btn btn-primary'
