%ul.nav.nav-pills.flex-column.pt-2
  = admin_sidebar(User, admin_users_path)
  = admin_sidebar(Article, admin_articles_path)
  = admin_sidebar(Category, admin_categories_path)
  = admin_sidebar(Tag, admin_tags_path)
  = admin_sidebar(Comment, admin_comments_path)
