= raw admin_sidebar('dashboards', admin_root_path)
= raw admin_sidebar('users', admin_users_path)
= raw admin_sidebar('articles', admin_articles_path)
= raw admin_sidebar('categories', admin_categories_path)
= raw admin_sidebar('tags', admin_tags_path)
= raw admin_sidebar('comments', admin_comments_path)
= raw admin_sidebar('site_groups', admin_site_groups_path)
= raw admin_sidebar('site_links', admin_site_links_path)
