!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }

    %title= I18n.t('site_title')
    %meta{ name: 'author', content: I18n.t('author') }
    %meta{ name: 'keywords', content: I18n.t('keywords') }
    %meta{ name: 'description', content: I18n.t('description') }

    = stylesheet_link_tag 'application', :media => "all", 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      %script{ src: 'http://html5shim.googlecode.com/svn/trunk/html5.js' }
    = csrf_meta_tags

  %body{class: "home blog wpb-js-composer js-comp-ver-5.0.1 vc_responsive #{'mobile' if mobile_device?}"}
    %section.container
      #sidebar-wrappers
        = render 'shared/sidebar'
      .before
      #content-wrappers
        = yield

      .clearfix

    %a#scroll-top{:href => "#top", :style => "display: block;"}
      %span.fa.fa-arrow-up

    = yield :javascript
