!!!
%html{:lang => "en"}
  %head
    %title= "#{I18n.t('title')} - ADMIN"
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }

    = stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{class: "devise #{'mobile' if mobile_device?}"}
    %header.navbar.navbar-light.navbar-toggleable-md.bd-navbar
      %nav.container
        #bd-main-nav.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.nav-item.active
              %a.nav-item.nav-link{:href => "/", :onclick => "ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');"}
                = I18n.t('title')
    #header
      .page-full-width.cf
        #login-intro
          %h1
            = I18n.t('action.signin')

    #content
      .notices-boxes
        - flash.each do |type, value|
          %p.error-box= value
      = yield

    = render 'shared/footer'
