!!!
%html{:lang => "en"}
  %head
    %title= "#{I18n.t('title')} - ADMIN"
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }

    = stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{class: "devise #{'mobile' if mobile_device?}"}
    #header
      .page-full-width.cf
        #login-intro
          %h1
            = I18n.t('action.signin')
            = link_to I18n.t('title'), root_path

    #content
      .notices-boxes
        - flash.each do |type, value|
          %p.error-box= value
      = yield

    = render 'shared/footer'
