!!! 5
%html
  %head
    %title= "#{I18n.t('title')} - ADMIN"
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }

    = stylesheet_link_tag 'devise', :media => "all", 'data-turbolinks-track': 'reload'

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      %script{ src: 'http://html5shim.googlecode.com/svn/trunk/html5.js' }

    = yield :head
    = csrf_meta_tags

  %body.devise
    .container
      = yield

      %footer
        %p= link_to I18n.t('title'), root_path
        %p
          - time_range = '2017'
          - time_range += " - #{Time.now.year}" if Time.now.year > 2017
          Copyright &copy; #{time_range} 
          #{I18n.t('title')}
        %br